<form>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="cliente.nombre" name="nombre">
    </div>
    <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" [(ngModel)]="cliente.apellidos" name="apellidos">
    </div>
    <div class="mb-3">
        <label for="dni" class="form-label">Dni</label>
        <input type="text" class="form-control" id="dni" [(ngModel)]="cliente.dni" name="dni">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="cliente.email" name="email">
    </div>
    <div class="mb-3">
        <label for="tlf" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="tlf" [(ngModel)]="cliente.telefono" name="tlf">
    </div>
    <button type="submit" class="btn btn-primary" (click)="enviaDatos()" routerLink="/clientes/listado">Enviar</button>
    <button type="button" class="btn btn-secondary" style="float: right;" routerLink="/clientes/listado">Volver</button>
</form>